.gallery{
    display: block;
    display: flex;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  a {
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
  
  .section-input{
    z-index: 100;
    background: #2059e8;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    position: sticky;
    justify-content: center;
    top: 0;
  }

  .search-form{
    
    display: flex;
    justify-content: center;
  }
  
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
}
.photo-card {
    width: calc(25% - 100px);
}
.container {
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.info {
   
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 1px rgba(0,0,0,.14), 0 2px 1px rgba(0,0,0,.2);
}
.span {
    padding-top: 20px;
    font-size: 14px;
    font-weight: 400;
}
.is-hidden { 
  display: none;
 
} 
